API_PORT=8080
API_PUBLIC_BASE_URL=https://api.com
ENVIRONMENT=development
RATE_LIMIT_PER_MINUTE=60

DATABASE_URL=postgres://yusuf:123456@localhost:5435/iwifunni?sslmode=disable
REDIS_URL=redis://default:123456@localhost:6380
JWT_SECRET=development-jwt-secret-change-me
ENCRYPTION_KEY=dev-encryption-key-32bytes-padded

BREVO_API_KEY=782878nwyy891278
BREVO_FROM_EMAIL=test@example.com

GOOGLE_CLIENT_ID=13455667.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=XRTEUE-EYWUQWI-TEYTGY-DHGHGW
GOTH_SESSION_SECRET=82nz7828972878n2897287z982

WEB_BASE_URL=https://localhost:1234